.post-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p,
  li {
    font-size: 1rem;
    line-height: 1;
  }

  p {
    margin: 0;
    padding: 0 0 1rem;
    line-height: 1;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      line-height: 1;
      margin: 0 0.625rem 0.625rem 0;
      font-family: var(--arial-font-family);

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #57a9fb;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        margin: 0;
        /* height: 2rem; */
        color: #4a4a4a;
        font-size: 0.8rem;
        line-height: 1.5;
        text-decoration: none;
        white-space: nowrap;
        @include transition(background);

        &:hover,
        &:focus {
          background: var(--link-color);
          color: var(--background-color);
        }
      }
    }
  }
}
