.tag-list {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      font-family: var(--arial-font-family);
      margin: 0 0.625rem 0.625rem 0;
    }

    a {
      text-decoration: none;
      border: 2px solid var(--link-color);
      border-radius: 0.5rem;
      padding: 0.25rem 0.5rem;
      margin: 0;
      background-color: #57a9fb;
      color: #4a4a4a;
      font-size: 0.8rem;
      line-height: 1.5;
      @include transition(background);

      &:hover,
      &:focus {
        background: var(--link-color);
        color: var(--background-color);
      }

      .count {
        font-size: 0.8rem;
        /* TODO: color: var(--post-meta-color); */
        color: #4a4a4a;
        font-family: var(--arial-font-family);
      }
    }
  }
}
